///// Import /////

@import "variable";

///// Import /////
//// Defined ////

html {
  font-size: 62.5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  display: inline-block;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

html, body, main, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

//// Defined ////
//// Parts ////
.img-FitParentSize {
  height: 100%;
  width: 100%;
}

.sw-hoverd {
  &:hover {
    background-color: $hoverd;
  }
}

.home-List_Label-open {
  &::before {
    @include open-icon;
    left: 6px;
    top: 0.5em;
    transform: rotate(135deg);
  }
}

.home-List_Label-close {
  &::before {
    @include open-icon;
    left: 6px;
    top: 0.6em;
    transform: rotate(45deg);
  }
}

.home-List_NameSpace-open {
  &::before {
    @include open-icon;
    left: 18px;
    top: 0.5em;
    transform: rotate(135deg);
  }
}

.home-List_NameSpace-close {
  &::before {
    @include open-icon;
    left: 18px;
    top: 0.6em;
    transform: rotate(45deg);
  }
}

.sw-closed {
  display: none;
}
//// Parts ////
//// Animation ////

@keyframes home-Icon-Open {
  0% {
    top: 0.6em;
    transform: rotate(45deg);
  }
  100% {
    top: 0.5em;
    transform: rotate(135deg);
  }
}

@keyframes home-Icon-Close {
  0% {
    top: 0.5em;
    transform: rotate(135deg);
  }
  100% {
    top: 0.6em;
    transform: rotate(45deg);
  }
}
//// Animation ////
.home-Header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background-color: $dark-gray;

  .home-Header_MenuIcon {
    margin: 0 10px;

    img {
      //Dummy. change icon image.
      height: 20px;
      width: 20px;
    }
  }
}

.home-Header_Menu {
  display: flex;
  align-items: center;
  width: 100%;

  .home-Header_MenuItem {
    height: 2em;
    color: $brand;
    font-size: $font-m;

    a {
      vertical-align: sub;
      padding: 0 10px;
    }
  }
}

.home-Main {
  display: flex;
  height: 100%;
}

.home-SideArea {
  display: flex;
  background-color: $dark-gray;

  .home-SideArea_Menu {
    padding: 20px 20px 0;
  }

  .home-SideArea_MenuItem {
    //Dummy. change image.
    height: 32px;
    width: 32px;
    margin-bottom: 26px;
  }

  .home-SideList {
    width: 270px;
    color: white;
  }
}

.home-List {
  width: 270px;
  color: $dark-white;
  background-color: $gray;
}

.home-List_Explorer {
  padding: 13px 0 13px 30px;
  color: $dark-white;
  font-size: 1.4rem;
}

.home-List_Label {
  padding: 4px 26px;
  font-size: $font-m;
  position: relative;
  background-color: $dark-brand;
  user-select: none;
  cursor: pointer;
}

.home-List_NameSpace {
  padding: 4px 36px;
  font-size: $font-m;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.home-List_Item {
  padding: 4px 46px;
  font-size: $font-m;
  position: relative;
  cursor: pointer;
  user-select: none;
}