///// Import /////

@import "variable";

///// Import /////
//// Defined ////

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body, main, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

//// Defined ////
//// Parts ////
.img-FitParent {
  height: 100%;
  width: 100%;
}

//// Parts ////
.top-Header {
  display: inline-block;
  width: 100%;
}

.top-HeaderMenu {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: $dark-gray;

  .top-HeaderMenu_Item {
    margin-right: 26px;
    font-size: 1.6rem;
    color: $brand;
  }

  .top-HeaderMenu_Icon {
    //Dummy. change icon image.
    height: 25px;
    width: 25px;
    background-color: #0fafa5;
  }
}

.top-Main {
  display: flex;
  height: 100%;
}

.top-Sidebar {
  display: flex;
  background-color: $dark-gray;

  .top-SidebarMenu {
    padding: 20px 20px 0;
  }

  .top-Sidebar_Item {
    //Dummy. change image.
    height: 32px;
    width: 32px;
    margin-bottom: 26px;
  }

  .top-SideList {
    width: 270px;
    color: white;
  }
}