html {
  font-size: 62.5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body, main, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.img-FitParent {
  height: 100%;
  width: 100%;
}

.sw-hoverd:hover {
  background-color: #2e3534;
}

.home-List_Label-open::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: solid 2px #dadada;
  border-right: solid 2px #dadada;
  position: absolute;
  left: 6px;
  top: 0.5em;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.home-List_Label-close::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: solid 2px #dadada;
  border-right: solid 2px #dadada;
  position: absolute;
  left: 6px;
  top: 0.6em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.home-List_NameSpace-open::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: solid 2px #dadada;
  border-right: solid 2px #dadada;
  position: absolute;
  left: 18px;
  top: 0.5em;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.home-List_NameSpace-close::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: solid 2px #dadada;
  border-right: solid 2px #dadada;
  position: absolute;
  left: 18px;
  top: 0.6em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sw-closed {
  display: none;
}

@-webkit-keyframes home-Icon-Open {
  0% {
    top: 0.6em;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    top: 0.5em;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes home-Icon-Open {
  0% {
    top: 0.6em;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    top: 0.5em;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes home-Icon-Close {
  0% {
    top: 0.5em;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    top: 0.6em;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes home-Icon-Close {
  0% {
    top: 0.5em;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    top: 0.6em;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.home-Header {
  display: inline-block;
  width: 100%;
}

.home-Header_Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #242424;
}

.home-Header_Menu .home-Header_MenuItem {
  margin-right: 26px;
  color: #0fafa5;
  font-size: 1.6rem;
}

.home-Header_Menu .home-Header_MenuIcon {
  height: 20px;
  width: 20px;
  background-color: #0fafa5;
}

.home-Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.home-SideArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #242424;
}

.home-SideArea .home-SideArea_Menu {
  padding: 20px 20px 0;
}

.home-SideArea .home-SideArea_MenuItem {
  height: 32px;
  width: 32px;
  margin-bottom: 26px;
}

.home-SideArea .home-SideList {
  width: 270px;
  color: white;
}

.home-List {
  width: 270px;
  color: #dadada;
  background-color: #242424;
}

.home-List_Explorer {
  padding: 13px 0 13px 30px;
  color: #dadada;
  font-size: 1.4rem;
}

.home-List_Label {
  padding: 4px 26px;
  font-size: 1.6rem;
  position: relative;
  background-color: #0c635d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.home-List_NameSpace {
  padding: 4px 36px;
  font-size: 1.6rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.home-List_Item {
  padding: 4px 46px;
  font-size: 1.6rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=main.css.map */